*{
    margin: 0;
    padding: 0;
}

/* Nav */
.Navbar{
    margin-top: 24px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bangladesh2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

.Nav-btn{
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid;;
}

/* Banner */
.banner{
    margin-left: 160px;
    margin-right: 160px;
    padding: 80px 60px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    justify-content: center;
    align-items: center;
}
.BD2{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    /* margin-bottom: 16px; */
    margin: 16px 0px;
}
.text{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    margin: 16px 0px;
}
.explore{
    /* margin-top: 24px; */
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 17px 34px;
    border: none;
}

/* Pillars of Bangladesh */
.pillar{
    margin: 80px 160px;
}
.pillar h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin: 32px 0px;
}
.pillar-layout{
    display: flex;
    justify-content:space-between;
    gap: 24px;
}
.pillar-card{
    width: 302px;
    height: 244px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;
    align-items: center;
    justify-content: center;
}
.pillar-card-head{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 12px 0px;
}
.pillar-card-txt{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 12px 0px;
}

/* The Vision of Future */
.Vision{
    margin: 80px 160px;
}
.vision-layout{
    display: flex;
    justify-content:space-between;
    gap: 24px;
    margin: 32px 0;
}
.Vision h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin: 32px 0px;
}
.Vision .vision-txt{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.vision-card-head{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 12px 0px;
}
.vision-card-txt{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.vision-card-blue{
    width: 410px;
    height: 325px;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
    align-items: center;
    justify-content: center;
}
.vision-card-blue-btn{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    border: none;
    margin: 24px 0px;
}
.vision-card-green{
    width: 410px;
    height: 325px;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 32px;
    align-items: center;
    justify-content: center;
}
.vision-card-green-btn{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    border: none;
    margin: 24px 0px;
}
.vision-card-yellow{
    width: 410px;
    height: 325px;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 32px;
    align-items: center;
    justify-content: center;
}
.vision-card-yellow-btn{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    border: none;
    margin: 24px 0px;
    background: rgb(255, 194, 57);
}

/* Quote */
.quote{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 32px;
    margin-bottom: 80px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 43px 24px 43px 24px;
    background: rgb(255, 255, 255);
}
.quote-pad{
    padding: 5px 0px 5px 0px;
    background-position: top left;
    background-image: url(../images/quote-bg.png);
    background-repeat: no-repeat;
}
.quote-txt{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 12px 0px;
}
.yunus-name{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 4px 0px;
}
.yunus-title{
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 4px 0px;
}

/* Opinion */

.Your-Opinion{
    background: rgb(250, 250, 250);
}
.Opinion{
    margin: 80px 160px;

}

.Opinion h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin: 24px 0px;
}
.form-box{
    border-radius: 16px;
    background-color: white;
    padding: 32px;
    /* height: 410px; */
}
.head-text{
    display: flex;
    justify-content: space-between;
    background-color: rgb(198, 228, 214);
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 24px 24px;
}
.Opinion .form-box .head-text h4{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0 10px;
}
.row{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 24px 24px 24px 0;
    height: 28px;
    align-items: center;
}
.ques{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0 10px;
}
.checkbox{
    margin: 0 0px;
    display: block;
    padding: 17px;
    border-left: 1px solid rgba(14, 14, 14, 0.15);
}
.sell{
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
    width: 152px;
    height: 42px;
    padding: 10px 14px 10px 14px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
